:root {
  --accountSilver: 149, 149, 149;
  --maxPrimaryPageWidth: 1400px;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--tmdbDarkBlue));
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
}

ul {
  list-style-type: none;
}

.button{
  align-items: center;
  background-color: rgba(1, 180, 228);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  padding: 13px;
  width: 100%;
}

.button:disabled {
  background-color: rgb(238, 237, 237);
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: rgba(3, 37, 65, 1);
}
