:root {
  --accountSilver: 149, 149, 149;
  --maxPrimaryPageWidth: 1400px;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--tmdbDarkBlue));
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
}

ul {
  list-style-type: none;
}
