.option {
  color: #333;
  display: flex;
  font-size: 14px;
  margin: 5px 0;
}

.option input[type="radio"] {
  cursor: pointer;
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.option label {
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
}
