.filter_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movies_header {
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100%;
}

.movies_page {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

.movies_wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  max-width: var(--maxPrimaryPageWidth);
  padding: 30px;
  width: 100%;
}

.load_more_button{
  border-radius: 7px;
  font-size: 1.5em;
}

.popular_movies {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
