.movie_card {
  align-self: stretch;
  background-color: #fff;
  border: 1px lightgray solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: calc(20% - 25px);
}

.movie_title {
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
}

.movie_info {
  border-top: #000 1px #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px 15px;
}

.poster_image {
  background-color: #dbdbdb;
  border-radius: 8px 8px 0 0;
  height: 270px;
  width: 100%;
}

.release_date {
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1200px) {
  .movie_card {
    width: calc(25% - 20px);
  }
}

@media (max-width: 1100px) {
  .movie_card {
    width: calc(33.33% - 15px);
  }
}

@media (max-width: 800px) {
  .movie_card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 700px) {
  .movie_card {
    width: 100%;
  }
}
